* text=auto

# shell scripts
*.sh text eol=lf

# Windows files
*.bat text eol=crlf
tools/VERIFICATION.txt text eol=crlf

# the test cases
/test/*.txt text eol=lf

# some files which are currently in ISO-8859-15 encoding
/src/lexer.l text working-tree-encoding=ISO_8859-15
/test/111_manual_encoding_iso.txt text working-tree-encoding=ISO_8859-15
