.cproject
.project
/.idea/

/.jekyll-metadata
/.jekyll-cache/
/_site/
.sass-cache

/src/
/out/
*.o
*.a
/pcre2-*/
/flex_bison_*/
/doc/
/tools/
/vendor/

/vs
/_support/
/cmake-build-debug/
*.tar.gz
*.nupkg.zip
