# Travis CI Build Configuration file for boxes

language: c

script: cmake . && make && make check

sudo: false

matrix:
    include: 
        - os: linux 
          compiler: gcc 
        - os: osx
          compiler: clang 

addons:
    apt:
        sources:
            - george-edison55-precise-backports # cmake 3.2.3 / doxygen 1.8.3
        packages:
            - flex
            - bison
            - python
            - cmake
            - cmake-data

branches:
    only:
        - master

after_failure:
    - cat test/Testing/Temporary/LastTest.log
