---
layout: default
sedesc: Command line ASCII boxes unlimited!
---

<div class="article">
    <div class="well" style="border-color:darkgray;">
        <div class="container-fluid" style="margin-top:1em;">
	        <div class="row">
			    <div class="col-sm-12" style="padding:0;"><i>Boxes</i> is a command line program that draws a box around its input text. It can remove and repair those boxes, too. You can easily make your own box designs if&nbsp;you wish, but many designs are already provided.</div>
			</div>
	        <div class="row bxsample">
			    <div class="col-sm-2"><pre class="hidden-md">


</pre><pre class="hidden-xs">



</pre><pre>Hello World!  ==&gt;


</pre></div>
                <div class="col-sm-3"><pre class="hidden-xs hidden-md">


</pre><pre class="hidden-xs"> __________________
/\                 \  
\_|                |  
  |  Hello World!  |  
  |                |  
  |   _____________|_ 
  \_/_______________/
&nbsp;</pre></div><div class="col-sm-1 visible-md-block">&nbsp;</div>
                <div class="col-sm-3"><pre class="hidden-xs hidden-md">


</pre><pre class="hidden-xs">

</pre><pre>/******************/
/*                */
/*  Hello World!  */
/*                */
/******************/
&nbsp;</pre></div>
                <div class="col-sm-3 hidden-md"><pre>         \\\///
        / _  _ \
      (| (.)(.) |)
.---.OOOo--()--oOOO.---.
|                      |
|     Hello World!     |
|                      |
'---.oooO--------------'
     (   )   Oooo.
      \ (    (   )
       \_)    ) /
             (_/</pre></div>
			 <div class="col-sm-1">&nbsp;</div>
	        </div>
	    </div>
    </div>
</div>
			 
{% for post in paginator.posts %}
<div class="article">
    <div class="well well-sm">
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>
        {% if site.comments == true and post.comments == true and site.disqus != '' %}
          <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread">Comments</a></p>
        {% endif %}
        <div class="content">
            {{ post.content }}
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
</div>
