<footer class="footer {% if page.longContent == true %}footer-moving{% endif %} bg-light"
    ><div class="container-fluid"><div class="row">
    <div class="col text-center text-muted">
        <div class="footer-part"><b>{{ site.name }}</b> &copy;&nbsp;1999-2021 <a href="https://thomasjensen.com"
            target="_blank"><span class="d-none d-sm-inline">Thomas&nbsp;Jensen</span><span class="d-inline d-sm-none">T.J.</span></a><span
                class="d-none d-sm-inline"> and the</span><span class="d-inline d-sm-none">,</span>
            <i>boxes</i> <span class="d-none d-sm-inline">contributors</span><span class="d-inline d-sm-none">contribs</span><span
                class="footer-sep">●</span></div><div class="footer-part"><a
                    href="{{ site.baseurl }}/website-attribution.html">website license attribution</a></div>
    </div></div></div
></footer>

<!-- <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" crossorigin="anonymous"
        integrity="sha384-bX7tuwViPEjy88JZEAaUe+FHOLZ9a9syCt8Z8UJ1sDbfwEIKdcFyHhW3yVPdFhd1"></script> -->
<!-- <script src="https://unpkg.com/@popperjs/core@2" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"></script>
