<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }} - {% if page.title | size > 0 %}{{ page.title }}{% else %}{{ site.description }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if page.redirect %}
    <meta name="robots" content="noindex,follow">
	<meta http-equiv="refresh" content="0; url={{ page.redirect }}" />
	{% else %}
    <meta name="author" content="Thomas Jensen" />
    <meta name="robots" content="index,follow" />
	{% if page.sedesc %}
	<meta name="description" content="{{ page.sedesc }}" />
    <meta name="keywords" content="ascii, ascii art, filter, command line, box, boxes, box drawing" />
	{% endif %}
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet">
	{% endif %}
</head>

<body>

{% if page.redirect %}{% else %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ site.baseurl }}/about.html">About</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/examples.html">Examples</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/docs/index.html">Documentation</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/contributing.html">Contributing</a></li>
					<li class="active"><a href="{{ site.baseurl }}/download.html"><b>Download</b></a></li>
                    <li class="active visible-xs-block"><a href="{{ site.baseurl }}/links.html">Links</a></li>
                    {% if site.github != '' %}
                      <li class="active"><a href="https://github.com/{{ site.github }}">Github</a></li>
                    {% endif %}
                </ul>
              </div>
        </div>
    </div>
</div>
{% endif %}
