{%- comment -%}

    Outputs the sidebar aka. left-hand navigation.

{%- endcomment -%}

<div class="sidebar">
    {% for groupitem in site.data.navigation.toc %}
    <div class="row">
        <div class="sidebar-heading mr-lg-5">{{ groupitem.group }}</div>
        <ul>
            {%- for entry in groupitem.subfolderitems -%}
                {%- unless entry.divider -%}
                    {%- assign urlstart_editors = page.url | slice: 0, 9 -%}
                    {%- if page.bxVersion -%}
                        {%- assign pgurl = page.url | remove_first: '/' | remove_first: page.bxVersion -%}
                        {%- assign urlstart_designs = pgurl | slice: 0, 12 -%}
                        {%- if urlstart_designs == "/box-designs" -%}
                            {%- assign pgurl = "/box-designs.html" -%}
                        {%- endif -%}
                    {%- elsif urlstart_editors == "/editors-" -%}
                        {%- assign pgurl = "/editors.html" -%}
                    {%- else %}
                        {%- assign pgurl = page.url -%}
                    {%- endif %}
            <li{% if pgurl == entry.url %} class="current" {%- endif
                -%}><a href="{{- entry.url | relative_url -}}">{{ entry.title }}</a></li>
                {%- endunless -%}
            {%- endfor %}
        </ul>
    </div>
    {%- endfor %}
</div>
